.action-bar-success{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;

    position: absolute;
    height: 56px;
    left: 0%;
    right: 0%;
    top: 0px;
    /* background-color: black; */

}
.left-icons-success{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 34px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.create-icon-success{
    position: absolute;
    width: 114px;
    height: 14px;
    left: 24px;
    top: 75px;

    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;

    /* Dark Grey */

    color: #333333;
}
.know-you-success{
    position: absolute;
width: 255px;
height: 64px;
left: 24px;
top: 98px;

font-family: 'Epilogue';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 32px;
/* or 114% */

letter-spacing: -0.05em;

/* Dark Grey */

color: #333333;

}
.name-success{
    position: absolute;
    width: 76px;
    height: 14px;
    left: 24px;
    top: 201px;

    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;

    /* Dark Grey */

    color: #333333;
}
.name-input-success{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 16px 16px;
    gap: 4px;

    position: absolute;
    width: 284px;
    height: 30px;
    left: 24px;
    top: 227px;
    border: none;
    

    /* Smoke Grey */

    background: #F4F4F4;
    border-radius: 8px;

}
.user-name-success{
    position: absolute;
    width: 73px;
    height: 14px;
    left: 24px;
    top: 299px;
    
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    
    /* Dark Grey */
    
    color: #333333;
    
}
.username-success{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 16px 16px;
    gap: 4px;
    
    position: absolute;
    width: 284px;
    height: 30px;
    left: 24px;
    top: 325px;
    border: none;
    
    /* Smoke Grey */
    
    background: #F4F4F4;
    border-radius: 8px;

}

.password-success{
    position: absolute;
    width: 38px;
    height: 14px;
    left: 24px;
    top: 397px;
    
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    
    /* Dark Grey */
    
    color: #333333;
}
.password-input-success{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 16px 16px;
    gap: 4px;
    
    position: absolute;
    width: 284px;
    height: 30px;
    left: 24px;
    top: 423px;
    border: none;
    
    /* Smoke Grey */
    
    background: #F4F4F4;
    border-radius: 8px;
}
.toast{
    position: absolute;
    width: 322px;
    height: 74px;
    left: 21px;
    top: 560px;

    /* Green 3 */

    background: #6FCF97;
    border-radius: 8px;
    
    text-align: center;
    }

.toast-text{
    color: #F4F4F4;
    font-weight: bold;
    margin-top: 25px;
}
